<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0ay3G-huS2iPTXi9gjLZeLmDwwpt3AC8</string>
	<key>GCM_SENDER_ID</key>
	<string>929526310137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rider.dostava360</string>
	<key>PROJECT_ID</key>
	<string>dostava360-c61cf</string>
	<key>STORAGE_BUCKET</key>
	<string>dostava360-c61cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929526310137:ios:9ecba88d589ee6fdccee28</string>
</dict>
</plist>